<!-- Check if it is a root tag or category page -->
<%
    var items = [];
    var title = '';
    var isTagIndex = page.type === 'tags' || page.type === 'tag';
    var isCategoryIndex = page.type === 'categories' || page.type === 'category';
    if (isTagIndex) {
        items = site.tags;
        title = __('tags');
    } else if (isCategoryIndex) {
        items = site.categories;
        title = __('categories');
    }
    var isTagOrCat = isTagIndex || isCategoryIndex;
%>

<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || theme.default_post_title || title || __('default_post_title'),
    secondaryText: page.date && !isTagOrCat ? page.date.format(config.date_format) : '',
    faIconCss: page.icon || theme.default_post_icon || ''
}) %>


    <!-- Content -->
    <div class="w-100 ph2 ph4-m ph5-l mv5 mv6-l">
        <div class="content">
            <div class="mw8 center">
                <% if (isTagOrCat) { %>
                    <% items.forEach(function(item){ %>
                       <%- partial('_partial/tag-category-index', {item: item, isTagIndex: isTagIndex}) %>
                   <% }) %>
                <% } else { %>            
                    <div class="w-100 mw7 fw3 lh-copy post-content">
                        <!-- Main Post Content -->
                        <%- page.content %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
