<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || theme.default_post_title || __('default_post_title'),
    secondaryText: page.date ? page.date.format(config.date_format) : '',
    faIconCss: page.icon || theme.default_post_icon || ''
}) %>

<!-- Content -->
<div class="w-100 ph2 ph4-m ph5-l mv5 mv6-l">
    <div class="content">
        <div class="mw8 center">
                <div class="w-100 mw7 fw3 lh-copy post-content">
                    <!-- Main Post Content -->
                    <%- page.content %>
                </div>
            </div>
        </div>
    </div>
</div>
