$main-color = #29C6CD
$gradient-color-1 = #36B1DA
$gradient-color-2 = #29C6CD

body
  font-family Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.vh-40
  height 40vh

.bg-1
  background $gradient-color-1
  background -moz-linear-gradient(left, $gradient-color-1 0%, $gradient-color-2 100%)
  background -webkit-linear-gradient(left, $gradient-color-1 0%, $gradient-color-2 100%)
  background linear-gradient(to right, $gradient-color-1 0%, $gradient-color-2 100%)

.pab-100px
  padding-bottom 100px

.w8
  width 64rem

.tj
  text-align justify

.header-icon
  font-size 30vh
  opacity 0.4
  position absolute
  bottom -3rem
  right 6rem

.border-color
  border-color white

.hover-border-main-color
  transition all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    border-color $main-color

.hover-text-main-color
  transition all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    color $main-color

.cursor-default {
  cursor: default;
}

.content
  font-size 16px
  a, .fake-link
    text-decoration none
    transition color .15s ease-in
    color $main-color
    &:hover
      opacity .5
      transition all .15s ease-in
  figure
    &.highlight
      margin-left 0
      .gutter
        display none
      .code
        padding-left 15px

.content code, .content pre, .content figure.highlight
  background-color #f7f7f7
  font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size 85%
  line-height 1.45
