<div class="mt5 mt0-l">
    <article class="dt db-l mw8 mw8-m mw5-ns center ml0-l bg-white mv3">
        <div class="dn dtc-m db-l v-mid tc pr4 pr0-l" style="min-width: 6rem;">
            <img src="<%- theme.about_widget_avatar_url %>" class="mb4-l br-100 h3 w3 h4-l w4-l dib" title="<%- config.author %>">
        </div>
        <div class="dtc db-l v-mid lh-copy measure center f6 black-50 tj">
            <%- theme.about_widget_text %>
        </div>
    </article>
</div>